@import "tailwindcss";
:root{
    --nav1-from: #000000;
    --nav1-via: #160129;
    --nav1-to: #260c43;
}

body{
    width: 100dvw;
    overflow-x:hidden 
}
.mainnav{
    @apply flex p-5 justify-between items-center h-20 text-white bg-black fixed top-4;
    background: linear-gradient(var(--nav1-from),var(--nav1-via),var(--nav1-to));
    .logo{
        @apply flex gap-5;
    }
    .options{
        @apply flex gap-2 ;
        button:first-child{
            @apply py-2 px-4 rounded-3xl font-semibold text-base hover:scale-[1.1] transition-all duration-300 ease-in-out hover:bg-[#3800a1] hover:border-[#6105bd];
        }
        
    }
}

